

/*----------------------------
	The Weather Div
-----------------------------*/


#weather{
	position:relative;
	width:494px;
	height:407px;
	margin: 50px auto 25px;
	overflow:hidden;
}

#weather:before{
	background: url("../img/preloader.gif") no-repeat center center #111;
	border: 1px solid #000;
	border-radius: 50% 50% 50% 50%;
	box-shadow: 0 1px 2px #444;
	content: "";
	height: 44px;
	left: 50%;
	margin: -22px 0 0 -22px;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	width: 44px;
}

#weather.error:before{
	display:none;
}

#weather.error{
	text-align:center;
	font-size: 20px;
}

#weather.loaded #scroller,
#weather.loaded .arrow{
	display:block
}

#weather.loaded:before{
	display:none;
}

#weather.loaded{
	border-radius:3px;
	background:url('../img/weather_bg.jpg') no-repeat;
	box-shadow:0 0 5px rgba(0,0,0,0.15);
}

#weather.first a.previous,
#weather.last a.next{
	display:none;
}


/*----------------------------
	The Scroller
-----------------------------*/


#scroller{
	position:absolute;
	list-style:none;
	width:100%;
	height: 336px;
	white-space:nowrap;
	top:0;
	left:0;
}

#scroller li{
	position:relative;
	width:100%;
	height:100%;
	display:inline-block;
	text-align:center;
}

#scroller li img{
	display:block;
	margin: 35px auto 0;
}

#scroller li .day{
	color:#dcf0f6;
	font-size:15px;
	padding-top: 20px;
	text-shadow:1px 1px 0 rgba(0,0,0,0.15);
}

#scroller li .day b{
	font-weight:normal;
	color:#0f3642;
}

#scroller li .cond{
	bottom: -52px;
	color: #424242;
	font-size: 24px;
	position: absolute;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
}

#scroller li .cond b{
	text-transform:uppercase;
}

#scroller, .arrow{
	display:none;
}


/*------------------------------
	The Next/Previous arrows
-------------------------------*/


.arrow{
	background:url('../img/arrows.png') no-repeat;
	width:34px;
	height:45px;
	position:absolute;
	top:50%;
	margin-top:-45px;
	opacity:0.6;
	overflow:hidden;
	text-indent:-99999px;
}

.arrow:hover{
	opacity:1;
}

.arrow.previous{
	left:20px;
}

.arrow.next{
	background-position:top right;
	right:20px;
}


/*----------------------------
	The Location Div
-----------------------------*/


p.location{
	font-weight:bold;
	font-size:28px;
	color:#296c81;
	text-align:center;
	margin-bottom:80px;
}

p.location b{
	color:#569cb3;
}


